# Configuración de SMTP para nodemailer
# Para Gmail, genera una "Contraseña de aplicación" en tu cuenta de Google
# https://myaccount.google.com/apppasswords

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Email donde se recibirán los mensajes de contacto (opcional, por defecto usa SMTP_USER)
CONTACT_EMAIL=
